:root {
  --base-color: #222;
  --occur-yellow: #d79538;
  --bright-yellow: #ff9d00;
  --light-grey: #e8e8e8;
  --light-gray: #c7c7c7;
  --mid-grey: #a5a5a5;
  --dark-grey: #535353;
  --bright-yellow-tint: #fff5e6;
}

body {
  font-family: "Poppins", sans-serif;
}

.bg-base {
  background-color: var(--base-color);
}

.bg-white {
  background-color: #fff;
}

.bg-mid-grey {
  background-color: var(--mid-grey);
}

.bg-light-grey {
  background-color: var(--light-grey) !important;
}

.bg-dark-grey {
  background-color: var(--dark-grey);
}

.text-base {
  color: var(--base-color);
}

.text-bright-yellow {
  color: var(--bright-yellow);
}

.text-light-grey {
  color: var(--light-gray);
}

.text-mid-grey {
  color: var(--mid-grey);
}

.text-dark-grey {
  color: var(--dark-grey);
}

.bg-occur-yellow {
  background-color: var(--occur-yellow);
}

.text-occur-yellow {
  color: var(--occur-yellow);
}

.bg-bright-yellow-tint {
  background-color: var(--bright-yellow-tint);
}

.dot {
  border-radius: 50%;
  width: 10px !important;
  height: 10px !important;
}

.font-size-6 {
  font-size: 6px;
}

.font-size-8 {
  font-size: 8px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-36 {
  font-size: 36px;
}

.font-size-48 {
  font-size: 48px;
}

.dropdown-toggle::after {
  display: none;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* max-width: 350px; */
}

.text-bold {
  font-weight: bold;
}

#search-btn {
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
}

.border-radius-10 {
  border-radius: 10px;
}

.contact-us-btn {
  padding-right: 3rem;
  padding-left: 3rem;
  font-size: 14px;
}

.slider-image-border-radius {
  border-radius: 16px 0px 0px 16px;
}

.slider-image-border-radius-tablet {
  border-top-left-radius: 16px;
}

.border-radius-16 {
  border-radius: 16px;
}

.border-radius-8 {
  border-radius: 8px;
}

.inline-icon {
  vertical-align: bottom;
}

.price-badge {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px 10px 0px 10px !important;
}

.selection-dropdown {
  min-width: 6rem;
}

.selection-dropdown-lg {
  min-width: 20rem;
}

.daterangepicker td.active {
  background-color: #222;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.form-control + .form-label {
  top: -5px;
  background-color: white;
  padding: 0;
  margin-left: 10px !important;
  padding-left: 5px;
  padding-right: 5px;
  opacity: 1 !important;
  height: 1rem;
}

.form-control:focus + .form-label {
  top: -5px;
  background-color: white;
  padding: 0;
  margin-left: 10px !important;
  padding-left: 5px;
  padding-right: 5px;
  opacity: 1 !important;
  height: 1rem;
  z-index: 999;
}

.promocode-dropdown {
  padding-right: 2rem;
  min-width: 20rem;
}

.promocode-dropdown .form-control {
  height: 2.5rem;
}

.loader-md {
  width: 2rem;
  height: 2rem;
}

#logo {
  max-width: 15rem;
}

.pointer {
  cursor: pointer;
}

.amenity-icon img {
  width: 20px;
}

.amenity-icon svg {
  width: 20px;
}

.modal-amenity-icon img {
  width: 30px;
}

.modal-amenity-icon svg {
  width: 30px;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(0.7) !important;
  padding: 0;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  padding: 0;
}
