<div class="modal fade" id="roomInfoModal" tabindex="-1" aria-labelledby="roomName" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl modal-fullscreen-sm-down modal-fullscreen-md-down">
        <div class="modal-content border-radius-16">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="roomName">Delux Room with Sea View</h5>
                <button type="button" class="btn bg-dark p-0 text-white" data-bs-dismiss="modal" aria-label="Close">
                    <span class="material-icons">close</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div id="roomImages2" class="carousel slide border-radius-10" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#roomImages2" data-bs-slide-to="0"
                                    class="active dot" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#roomImages2" class="dot" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#roomImages2" class="dot" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner border-radius-10">
                                <div class="carousel-item active">
                                    <img src="./assets/imgs/room.jpeg" class="d-block w-100 border-radius-10"
                                        alt="room" />
                                </div>
                                <div class="carousel-item">
                                    <img src="./assets/imgs/room.jpeg" class="d-block w-100 border-radius-10"
                                        alt="room" />
                                </div>
                                <div class="carousel-item">
                                    <img src="./assets/imgs/room.jpeg" class="d-block w-100 border-radius-10"
                                        alt="room" />
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#roomImages2"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon absolute-left bg-mid-grey text-white p-2"
                                    aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#roomImages2"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon absolute-right bg-mid-grey text-white p-2"
                                    aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12 mt-2 mb-2">
                                <h4><b>Amenities</b></h4>
                            </div>
                            <div class="col-md-4 p-2 text-dark-grey">
                                <span class="material-icons font-size-36 inline-icon">wifi</span>
                                <span class="font-size-12">Internet</span>
                            </div>
                            <div class="col-md-4 p-2 text-dark-grey">
                                <span class="material-icons font-size-36 inline-icon">bathroom</span>
                                <span class="font-size-12">Private Bathroom</span>
                            </div>
                            <div class="col-md-4 p-2 text-dark-grey">
                                <span class="material-icons font-size-36 inline-icon">balcony</span>
                                <span class="font-size-12">Balcony</span>
                            </div>
                            <div class="col-md-4 p-2 text-dark-grey">
                                <span class="material-icons font-size-36 inline-icon">ac_unit</span>
                                <span class="font-size-12">Air Conditioner</span>
                            </div>
                            <div class="col-md-4 p-2 text-dark-grey">
                                <span class="material-icons font-size-36 inline-icon">waves</span>
                                <span class="font-size-12">Heading</span>
                            </div>
                            <div class="col-md-4 p-2 text-dark-grey">
                                <span class="material-icons font-size-36 inline-icon">liquor</span>
                                <span class="font-size-12">Mini Bar</span>
                            </div>
                            <div class="col-md-4 p-2 text-dark-grey">
                                <span class="material-icons font-size-36 inline-icon">live_tv</span>
                                <span class="font-size-12">TV</span>
                            </div>
                            <div class="col-md-4 p-2 text-dark-grey">
                                <span class="material-icons font-size-36 inline-icon">pool</span>
                                <span class="font-size-12">Pool</span>
                            </div>
                            <div class="col-md-4 p-2 text-dark-grey">
                                <span class="material-icons font-size-36 inline-icon">coffee_maker</span>
                                <span class="font-size-12">Coffee Maker</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 p-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4><b>Details</b></h4>
                            </div>
                            <div class="room-info col-6">
                                <span class="font-size-12 p-2 border-end">
                                    <span class="material-icons text-secondary inline-icon">people</span> 4
                                </span>
                                <span class="font-size-12 p-2 border-end">
                                    <span class="material-icons text-secondary inline-icon">bed</span> 2
                                </span>
                                <span class="font-size-12 p-2">
                                    <span class="material-icons text-secondary inline-icon">home</span>
                                    60m²
                                </span>
                            </div>
                            <div class="col-6 text-end">
                                <span class="font-size-12">
                                    Room:
                                    <span class="material-icons text-secondary inline-icon ms-1 me-1">bed</span>
                                    <b class="text-secondary">1 Extra large double bed</b>
                                </span>
                            </div>
                            <div class="col-md-12">
                                <h4 class="mt-4 mb-2"><b>Description</b></h4>
                                <p class="text-secondary font-size-12">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen
                                    book. It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged.
                                </p>
                            </div>
                            <div class="col-md-12">
                                <h4 class="mt-4 mb-2"><b>Pricing</b></h4>
                                <div class="card">
                                    <div lass="card-header border-bottom-0">
                                        <div class="row p-2">
                                            <div class="col-md-6 ps-4">
                                                <b class="font-size-14 text-secondary">Standard Rate</b>
                                            </div>
                                            <div class="col-md-5">
                                                <span class="font-size-14 text-secondary">
                                                    <b class="text-dark">25 EUR</b> Per night
                                                </span>
                                            </div>
                                        </div>
                                        <button class="btn btn-sm bg-light-grey font-size-12"
                                            style="position: absolute; top: 0%; right: 0%;">
                                            <span class="material-icons text-dark-grey">close</span>
                                        </button>
                                    </div>
                                    <div class="card-body">
                                        <span class="text-light-grey"><b>Description</b></span>
                                        <p class="font-size-12">Here is the test description</p>
                                        <span class="text-light-grey mt-2"><b>Cancellation Policy</b>
                                        </span>
                                        <p class="font-size-12">Here is the test policy</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4">
                                <div class="card">
                                    <div lass="card-header border-bottom-0">
                                        <div class="row p-1">
                                            <div class="col-md-6 ps-4">
                                                <b class="font-size-14 text-secondary">Non Refundable</b>
                                            </div>
                                            <div class="col-md-5">
                                                <span class="font-size-14 text-secondary">
                                                    <b class="text-dark">25 EUR</b> Per night
                                                </span>
                                            </div>
                                        </div>
                                        <button class="btn btn-sm bg-light-grey font-size-12"
                                            style="position: absolute; top: 0%; right: 0%; height: 100%;">
                                            <span class="material-icons text-dark-grey">add</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="card">
                                    <div lass="card-header border-bottom-0">
                                        <div class="row p-1">
                                            <div class="col-md-6 ps-4">
                                                <b class="font-size-14 text-secondary">Stay more, Pay more</b>
                                            </div>
                                            <div class="col-md-5">
                                                <span class="font-size-14 text-secondary">
                                                    <b class="text-dark">25 EUR</b> Per night
                                                </span>
                                            </div>
                                        </div>
                                        <button class="btn btn-sm bg-light-grey font-size-12"
                                            style="position: absolute; top: 0%; right: 0%; height: 100%;">
                                            <span class="material-icons text-dark-grey">add</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>